.container {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #eff0f5;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #eff0f5;
}

.breadcrumb {
  margin: 0;
  height: 48px;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  list-style: none;
}

.breadcrumb li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 300;
  height: 48px;
}

.breadcrumb span {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  line-height: 100%;
  display: inline-block;
}

.breadcrumb a {
  display: inline-block;
  vertical-align: middle;
  color: #1a9cb7;
  padding: 0 4px;
  font-size: 14px;
  max-width: 200px;
  white-space: nowrap;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACKUExURUxpcYGBgYGBgYWFhYCAgICAgICAgIKCgv///4GBgZWVlYyMjIGBgYCAgIKCgoGBgYGBgaqqqoODg7+/v4GBgZKSko6OjoGBgYWFhYGBgYSEhIGBgZmZmYCAgIGBgYGBgYCAgICAgIGBgYCAgICAgIiIiICAgIeHh4GBgYSEhIODg4GBgYGBgYCAgPLijmAAAAAtdFJOUwCS7jCDi/E1AbYMFJrrK9ToAycEugcJtBfYG64Fp+S+vb+god0e4SLcHyPgwPJLUkAAAAB6SURBVDjLY2AYYoCdkwu/AgVdHTG8Crj5dUVE8aqQkNQVl8GrQkpDV1oYrwpVbV1ZQbwq1OV0lTnwqhAS0OXBr4KPV5cRf3AwM+myEghRNl0WihQQsoKQIwl5U0tOVwmfvKYa/qCWUsEfWYSim2CCkddVFKMs0Q5aAABM4wlSQJ87yAAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
