.itemWrapper {
  width: 189px;
  min-height: 189px;
  background-color: #fff;
  margin-right: 10px;
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.itemWrapper:hover {
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.itemWrapper a {
  text-decoration: none;
}

.item {
  height: 100%;
  position: relative;
}

.image {
  box-sizing: border-box;
  line-height: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 189px;
  height: 189px;
}

.image > img {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url('https://laz-img-cdn.alicdn.com/tfs/TB1wkpOf5qAXuNjy1XdXXaYcVXa-720-720.png_200x200.jpg');
  background-size: contain;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  line-height: 2;
  text-indent: -9999px;
}

.description {
  padding: 4px 8px 12px;
}

.title {
  font-size: 14px;
  height: 36px;
  line-height: 19px;
  position: relative;
  color: #212121;
  white-space: pre-wrap;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  margin-top: 4px;
}

.price div:first-child {
  line-height: 22px;
  height: 22px;
  font-size: 18px;
  color: #ff330c;
}

.currency {
  font-size: 12px;
}

.price div:last-child {
  margin: 4px 4px 0 0;
  line-height: 14px;
  height: 14px;
  color: #9e9e9e;
  font-size: 12px;
}

.price div:last-child span {
  float: left;
  margin-right: 4px;
}

.footer {
  margin-top: 8px;
  height: 14px;
  clear: both;
}

.ratings {
  position: relative;
  float: left;
  margin-right: 2px;
  margin-bottom: 3px;
  display: block;
  font-size: 12px;
  color: #9e9e9e;
}

.ratingsComment {
  float: left;
  font-size: 12px;
  color: #9e9e9e;
}
